.custom-button:hover {
  background-color: white; /* Apni pasand ka color rakhein */
  color: rgb(8, 128, 226); /* Text color change karna ho to */
  transition: 0.3s ease-in-out;
  border: 2px solid rgb(8, 128, 226);
}
.custom-button {
  text-decoration: none;
  color: white;
  background-color: rgb(8, 128, 226);
  transition: all 0.5s ease-out;
}
.custom-buttons {
  text-decoration: none;
  color: rgb(8, 128, 226);
  border: 2px solid rgb(8, 128, 226);
  transition: all 0.5s ease-out;
}
.custom-buttons:hover {
  background-color: rgb(51, 153, 236);
  color: white;
}
.overlay {
  width: 100%;
  height: 715px;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}
